
.avatar{
    border-width: 2px
}


.animate-pop-in {
    -webkit-animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
            animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
  }

.girl{
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.title{
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
.subtitle{
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.group{
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}
.little{
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}







  
@-webkit-keyframes pop-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-4rem) scale(.8);
              transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  
  @keyframes pop-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-4rem) scale(.8);
              transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }





.kham{

  animation: off-on 5s linear infinite

}

.book{
  animation: off-on 15s linear infinite
}

.trophy{
  animation: off-on 8s linear infinite
}
  

  @keyframes off-on {
    0% {
      opacity: 0;
  }
  
  75% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  } 
  }



  .h1{
    color: #0d0c0c;
    font-weight: 700;
    
    font-family: Josefin Sans,sans-serif
  }



  .shadow{
    box-shadow: 0 2px 30px rgb(0 0 0 / 3%);
    transition: all .5s ease;
    background-color: white;
  }

  .close{

    rotate: 2 3 0 1;
  }

  @media only screen and (max-width: 588px) {
    .white {
      display:none;
    }
    
  }

  @media only screen and (max-width: 588px) {
    .second {
      background-color: white;
     
    }
    
  }

  .BT:hover{
    transform: scaleX(1.1) scaleY(1.1 );
    transition: all .5s ease;
    
  }

  .get1{
    transition: all .5s ease;

  }

  .get1:hover{ transform: scaleX(1) scaleY(1.04 );
  }
    
 