
.avatar{
    border-width: 1px
}


.animate-pop-in {
    -webkit-animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
            animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
  }

.girl{
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.title{
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
.subtitle{
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.group{
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}
.little{
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}







  
@-webkit-keyframes pop-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-4rem) scale(.8);
              transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  
  @keyframes pop-in  {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-4rem) scale(.8);
              transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }





.kham{

  animation: off-on 5s linear infinite

}

.book{
  animation: off-on 12s linear infinite
}

.trophy{
  animation: off-on 8s linear infinite
}
  
.universe{
  animation: off-on 15s linear infinite

}

  @keyframes off-on {
    0% {
      opacity: 0;
  }
  
  75% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  } 
  }



  .h1{
    color: #0d0c0c;
    font-weight: 700;
    
    font-family: Josefin Sans,sans-serif
  }



  .shadow{
    box-shadow: 0 5px 60px rgb(0 0 0 / 4%);
    transition: all .5s ease;
    background-color: white;
    font-size: bold;
    font-weight: 700;


  }
  /* .shadow:hover{

    transform: scaleX(1) scaleY(1.1 );

  } */

  .close{

    rotate: 2 3 0 1;
  }

  @media only screen and (max-width: 588px) {
    .white {
      display:none;
    }
    
  }

  @media only screen and (max-width: 588px) {
    .second {
      background-color: white;
     
    }
    
  }

  .BT:hover{
    transform: scaleX(1.1) scaleY(1.1 );
    transition: all .5s ease;
    
  }
  .find:hover{
    transform: scaleX(1.1) scaleY(1.1 );
    transition: all .5s ease;
    
  }

  .get1{
    transition: all .5s ease;

  }

  .get1:hover{ 
    
    /* transform: scaleX(1) scaleY(1.04 ); */

    /* transform: scaleX(1) scaleY(1) scaleY(1.2); */
  
  }
    
 

  @media only screen and (min-width: 1800px) {
    .bg {
     width: 750px;
      height: 750px;
    }
    .heroimg{
      position: absolute;
        bottom: 70px;
    }
  
    
  }
  @media only screen and (max-width: 1800px) {
    .bg {
      width: 700px;
      height: 700px;
     
    }
    
  }
  @media only screen and (max-width: 1650px) {
    .bg {
      width: 650px;
      height: 700px;
     
    }
    .heroimg{
      position: absolute;
     right: 10px;
      top: 100px;
    }
    
  }
  @media only screen and (max-width: 1351px) {
    .bg {
      width: 580px;
      height: 600px;
     
    }
    
  }
  @media only screen and (max-width: 1351px) {
    .bg {
      width: 530px;
      height: 570px;
     
    }
    
  }

  @media only screen and (max-width: 1151px) {
    .bg {
      width: 500px;
      height: 540px;
     
    }
    
  }

  @media only screen and(min-width:1025) and(max-width: 1051px) {
    .bg {
      width: 450px;
      height: 500px;
     
    }
    .herop{
      padding-bottom: 100px;
    }
    
  }
  @media only screen and (max-width: 1024px) {
    .bg {
      width: 90%;
      margin: auto;

      
     
    }

    .heroimg{
      position: absolute;
        width: 90%;
      margin: auto;
    
       
       left: 20px;
        bottom: 100px;
      
    }
    
  }


  @media only screen and (max-width: 551px) {
    .bg {
      width: 90%;
      margin: auto;
      height: 400px;
      
      
     
    }

   
    
  }

  @media only screen and (min-width: 350px)and (max-width: 551px) {
    .bg {
      width: 90%;
      margin: auto;
      height: 330px;
      
      
     
    }

   
    
  }


  @media only screen and (min-width: 279px)and (max-width: 350px) {
    .bg {
      width: 90%;
      margin: auto;
      height: 280px;
      
      
     
    }

   
    
  }

