.svg{
    transform:rotate-45; 
    translate: y(1);
    
}
.regis{

   
    background: linear-gradient(315deg,#098b99,#057fa8);
    transition: all .5s ease;
    z-index: -1;
}


.regis{
   
    background: linear-gradient(315deg,#098b99,#4eb086);
    transition: all .5s ease;
    z-index: -1;
}
.nav{
    top: 0; 
     left: 0; 
    width: 100%;
    z-index: 999;
    position: sticky;
    animation: fadeInDown .5s ease-in-out 0s 1 normal none running;

    background-color: #fff!important;
}



.close {
    animation: off-on 2s  ;

    transition: all .3s;
    
  }
  @keyframes off-on  {
    transform{
        transform: rotate(45deg); 
     }
  
     transform {
    transform: rotate(20deg); 

  }
 
  }
